.type{
    height: 100%;
    width: 100%;
    .dt_1{
        position: relative;
        .typeimg{
            width: 3.2rem;
            height: 1.11rem;
        }
        .showorhide{
            position: absolute;
            top:.40rem;
            right: -.19rem;
        }
    }
    dd{
        ul{
            @include flexbox();
            @include align-items();
            @include flex-wrap(wrap);
            padding-top: .1rem;
            padding-left: .1rem;
            li{
                width: 33%;
                
                padding-bottom: .1rem;
                img{
                    width: .93rem;
                    height: .65rem;
                }
            }
        }
    }
}
