.banner{
    width: 100%;
    height: 1.28rem;
    .mint-swipe{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
        }
        .mint-swipe-indicator{
            width: 5px;
            height: 5px;
            &.is-active{
                opacity: .8;
            }
        }
    }
}