@font-face {
    font-family: 'yofont';
    src: url('../assets/images/iconfont/iconfont2.woff') format('woff'), url('../assets/images/iconfont/iconfont2.ttf') format('truetype')
  }
.detail{
    
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    .main{
        @include flex();
        width: 100%;
        overflow-y: scroll;
        section{
            height: 100%;
            span.cartCount{
                display: inline-block;
                width: .15rem;
                height: .15rem;
                border-radius: 50%;
                background: red;
                text-align: center;
                line-height: .15rem;
                position: absolute;
                z-index: 1;
                right: .35rem;
                i{
                    font-size: .12rem;
                    transform: scale(.6);
                }
            }
            .gooddetail{
                height: 3.2rem;
                width: 100%;
                background: #fff;
                position: relative;
                .mint-header{
                    background-color: transparent;
                }
                .mint-swipe-item{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 3.2rem;
                    }
                    
                }
                span.pagenation{
                    position: absolute;
                    right: .2rem;
                    bottom: .1rem;
                    display: inline-block;
                    background: rgba(0,0,0,.5);
                    padding: 0 .05rem;
                    border-radius: 10px;
                    font-size: .1rem;
                    color: #e0e0e0;
                }
                // 信息
                .info{
                    height: 1.1rem;
                    background: #fff;
                    padding: 0 .07rem;
                    .info-name{
                        @include flexbox();
                        @include justify-content(space-between);
                        @include align-items();
                        color: #666;
                        font-size: .1rem;
                        height: .4rem;
                        .name{
                            @include flex(.9);
                        }
                        .share{
                            margin-top: .08rem;
                            @include flexbox();
                            @include flex-direction(column);
                            @include align-items();
                            i{
                                font-size: .18rem;
                                color: red;
                                height: .18rem;
                            }
                            b{
                                font-size: .18rem;
                                transform: scale(.5);
                            }
                        }
                    }
                    .price{
                        font-weight: 300;
                        height: .28rem;
                        span{
                            color: red;
                            font-size: .15rem;
                            &.pri{
                                font-size: .2rem;
                            }
                        }
                        label{
                            font-size: .1rem;
                            transform: scale(0.7);
                            padding: 0 .05rem;
                            display: inline-block;
                            border:1px solid red;
                            border-radius: .05rem;
                            color: red;
                        }
                    }
                    .pre-price{
                        color: #afafaf;
                        font-size: .1rem;
                        font-weight: 300;
                        .s{
                            text-decoration: line-through;
                        }
                    }
                    .three{
                        @include flexbox();
                        @include justify-content(space-between);
                        @include align-items();
                        color: #afafaf;
                        font-size: .1rem;
                    }
                }
                ul{
                    li{
                        border-bottom: 1px solid #eeeeee;
                        a{
                            height: .3rem;
                            background: #fbfbfb;
                            color: #adacac;
                            min-height: 0;
                            .mint-cell-wrapper{
                                padding: 0 0.07rem;
                                .mint-cell-text{
                                    font-size: .1rem;
                                    transform: scale(0.9);
                                    display: inline-block;
                                    height: .3rem;
                                    line-height: .3rem;
                                    padding-right: .1rem;
                                }
                            }
                            
                        }
                        
                    }
                }
                ul.canshu{
                    margin-top: .1rem;
                    a{
                        height: 0.4rem;
                        color: #666;
                        background: #fff;
                        border-bottom: 1px solid #eeeeee;
                        .mint-cell-wrapper{
                            background-image: none;
                            .mint-cell-text{
                                font-size: .13rem;
                                line-height: .4rem;
                            }
                        }
                        
                    }
                }
                .comment{
                    width: 100%;
                    height: 1.8rem;
                    background: #fff;
                    padding: .07rem;
                    p{
                        font-size: .12rem;
                        color: #8e8e8e;
                    }
                    ul{
                        margin: .1rem .07rem;
                        color: #8e8e8e;
                        font-size: .12rem;
                        li{
                            height: 100%;
                            width: 100%;
                            border-bottom: none;
                            .user{
                                @include flexbox();
                                @include align-items();
                                font-size: .1rem;
                                img{
                                    width: .3rem;
                                    height: .3rem;
                                    border-radius: 50%;
                                    margin-right: .1rem;
                                }
                            }
                            .content{
                                padding-top: .05rem;
                                color: #666;
                            }
                        }
                    }
                    .more{
                        padding-top: .1rem;
                        text-align: center;
                        span{
                            font-size: .15rem;
                            transform: scale(0.7);
                            display: inline-block;
                            width: 1.3rem;
                            height: .3rem;
                            border: 1px solid #e4393c;
                            border-radius: .13rem;
                            line-height: .3rem;
                            text-align: center;
                            color: #e4393c;
                        }
                    }
                }
                .detailInfo{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .fenge{
                    color: #8e8e8e;
                    font-size: .15rem;
                    height: .3rem;
                    transform: scale(0.7);
                    font-weight: 300;
                    @include flexbox();
                    @include justify-content();
                    @include align-items();
                    b{
                        
                        width: 1.4rem;
                        height: 1px;
                        background: #8c8c8c;
                        transform: scale(0.5);
                    }
                    span{
                        // width: .6rem;
                    }
                }
            }
            .mint-header{
                position: absolute;
                z-index: 2;
                overflow: hidden;
                width: 100%;
                background-color: rgba(255, 0, 200, 0.82);
                height: .44rem;
                .mint-header-button{
                    flex:.5;
                    button{
                        width: .24rem;
                        height: .24rem;
                        background: rgba(0,0,0,.3);
                        border-radius: 100%;
                    }
                }
                .mintui{
                    color: #fff;
                }
            }
        }
    }
    
    footer{
        height: .44rem;
        ul{
            @include border(1px 0 0 0);
            @include flexbox();
            @include align-items();
            height: 100%;
            background: #fff;
            li{
                @include flex();
                @include flexbox();
                
                @include flex-direction(column);
                @include justify-content();
                @include align-items();
                color: #8e8e8e;
                i{
                    font-weight: 100;
                    font-size: 0.18rem;
                    height: .21rem;
                }
                b{
                font-weight: 300;
                font-size: 0.1rem;
                transform: scale(.7)
                }
                &.active b,&.active i{
                    color: #f02a41;
                }
                &:nth-child(4) {
                    @include flex(2);
                    height: 100%;
                    color: #fff;
                    font-size: .1rem;
                    background: #f7cc11;
                }
                &:nth-child(5) {
                    @include flex(2);
                    height: 100%;
                    color: #fff;
                    font-size: .1rem;
                    background: #ff6600;
                }
            }
        }
    }
    .mint-popup.mint-popup-bottom{
        min-height: 4.5rem;
        background: #fcfcfc;
        width: 100%;
        .btn{
            width: 100%;
            height: .40rem;
            background: rgba(252, 81, 13, 0.918);
            color: #fff;
            line-height: .4rem;
            text-align: center;
        }
        .jifen{
            width: 100%;
            min-height: 4.5rem;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            ul{
                width: 100%;
                padding: .1rem;
                height: 100%;
                overflow-y: scroll;
                li{
                    font-size: .12rem;
                    // border-bottom: 1px solid #f3f2f2;
                    padding: .1rem 0;
                    color: #adacac;
                }
            }
        }
        .baozhang{
            width: 100%;
            min-height: 4.5rem;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            p{
                padding: .1rem;
                text-align: center;
                color: #666;
            }
            ul{
                width: 100%;
                padding: .1rem;
                height: 100%;
                overflow-y: scroll;
                li{
                    @include flexbox();
                    font-size: .12rem;
                    padding: .1rem 0;
                    color: #adacac;
                    span{
                        display: inline-block;
                        width: .28rem;
                        height: .28rem;
                        border: 1px solid red;
                        color: red;
                        text-align: center;
                        font-size: .16rem;
                        transform: scale(0.5);
                        border-radius: 100%;
                    }
                }
            }
        }
        .content{
            width: 100%;
            min-height: 4.5rem;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(space-between);
            .select{
                padding: .1rem;
                width: 100%;
                overflow-y: scroll;
                .seled{
                    width: 100%;
                    height: 1rem;
                    @include flexbox();
                    img{
                        width: 1rem;
                        height: 1rem;
                    }
                    .sel{
                        @include flexbox();
                        @include flex-direction(column);
                        @include justify-content(flex-end);
                        margin-left: .1rem;
                        font-size: .12rem;
                        .red{
                            color: red;
                        }
                    }
                }
                ul.class{
                    padding-top: .1rem;
                    font-size: .12rem;
                    li{
                        line-height: .3rem;
                        .mint-badge.is-size-small{
                            height: .24rem;
                            line-height: .24rem;
                            padding: 0 .1rem;
                            border-radius: .1rem;
                        }
                        &.size,&.color{
                            span{
                                height: .3rem;
                                line-height: .3rem;
                                padding: .02rem .15rem;
                                border-radius: .1rem;
                                background: #f3f2f2;
                                color: #8c8c8c;
                                margin-right: .1rem;
                                &.active{
                                    background: red;
                                    color: #fff;
                                }
                            }
                        }
                        &.addc{
                            padding-top: .1rem;
                            @include flexbox();
                            @include justify-content(space-between);
                            .cal{
                                width: .8rem;
                                height: .24rem;
                                line-height: .24rem;
                                text-align: center;
                                input,span,span{
                                    display: inline-block;
                                    width: .24rem;
                                    height: .24rem;
                                    background:#f3f0f0;
                                    outline: none;
                                    border: none;
                                    text-align: center;
                                }  
                                input{
                                    font-weight: 500;
                                    color: #666;
                                } 
                                span{
                                    color: #adacac;
                                    font-weight: 500;
                                    // font-size: .13rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .can{
            padding: .1rem .15rem;
            p{
                font-size: .11rem;
                color: #8c8c8c;
            }
        }
        .button{
            height: .4rem;
            width: 100%;
            @include flexbox();
            line-height: .4rem;
            text-align: center;
            color: #fff;
            .btn1{
                height: 100%;
                @include flex(0.5);
                background: #f7cc11;
            }
            .btn2{
                height: 100%;
                @include flex(0.5);
                background: hsl(24, 98%, 54%)
            }
        }
        
    }
    
}
