.m-index{
    section{
        @include flexbox();
        .m-register{
            @include flex-direction(column);         
             width: 100%;
             height: 100%;
             background: #fff;
            .register-head{
                @include flexbox();
                @include flex-direction(); 
                height: .45rem;
                width: 100%;
                background: #c62022;
                i{
                    height: 100%;
                    width: 40%;
                    padding-left:.2rem;
                    font-size: 20px;
                    color: #fff;
                    line-height:.45rem ;
                }
                span{
                    @include flex();
                    height: 100%;
                    font-size: 21px;
                    font-weight: 100;
                    color: #fff;
                    line-height:.45rem ;
                    padding-left:.1rem;
                }
                
            }
            .register-logo{
                @include flexbox();
                @include flex-direction(column); 
                @include align-items();    
                height: 1.25rem;
                width: 100%;
                padding: 0 .1rem;
                margin-top: .35rem;
                img{
                    @include flexbox();
                    width: 100%;
                    padding-top: .14rem;
                }
            }
            form{
                @include flex();
                @include flexbox();
                @include flex-direction(column); 
                @include align-content(center);
                width: 100%;
                @include align-items() ;

                .register-input-data{
                    @include flexbox();
                    @include flex-direction(column); 
                    height: 1.4rem;
                    width: 2.24rem;
                    margin: .1rem 0;
                    padding: .07rem;
                    border:1px solid #c62022;
                    border-radius: .1rem;
                    background: #fff;
                    label{
                        @include flexbox();
                        @include flex-direction(); 
                        width: 2.08rem;
                        height: .42rem;
                        cursor: default;
                        border-bottom:1px solid #c62022;
                        &:last-child {
                             border-bottom:none;
                        }
                        i{
                            width: .31rem;
                            height: 100%;
                            line-height: .42rem;
                            text-align: center;
                            font-size: 18px;
                            color: #ccc;
                        }
                        input{
                           @include flex(); 
                           border: 0;
                           text-indent: 0.1rem;  
                        }
                    }
                    
                }
                button{                 
                    width: 1.12rem;
                    height: .42rem;
                    background: #c62022;
                    border: none;
                    color: #ffffff;
                    border-radius: .05rem;
                    margin: .07rem 0;
                   
                    
                }
                .a-link{
                    @include flexbox();
                    width: 2.24rem;
                    height: .3rem;
                    a{
                        width: 1.12rem;
                        height: .3rem;
                        text-align: center;
                        color: #818181;
                        font-size: 12px;
                    }
                }
                
            }
        }
    }
}