@font-face {
    font-family: 'yofont';
    src: url('../assets/images/iconfont/iconfont3.woff') format('woff'), url('../assets/images/iconfont/iconfont3.ttf') format('truetype')
  }
.m-index{
    .cart-top{
        height: .4rem;
        .mint-header{
            background-color: #ff26bc !important;
        }
    }
    
}